<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Prema</title>
</head>
<body>
  

    <h2> Tipos cadastrados: </h2>
  
    <ul class="tipos">
      <% for(var i = 0; i < cursor.length; i++) {%>
          <li class=tipo>
                
              <span> ID: <%=cursor[i]._id %> </span>
              <span> | Nome: <%=cursor[i].nome %> </span>
              <span>| Ingrediente principal: <%=cursor[i].ingrediente_principal %> </span>
              <span>| Origem: <%=cursor[i].origem %> </span>
              <span>| Sabor: <%=cursor[i].sabor %> </span>
          </li>
      <% } %>
    </ul>
  

  <form action="/edit_tipos.html/remover" method="POST">
    <input type="text" placeholder="ID a deletar" name="delete_id">

    <button type="submit">Deletar</button>
  </form>


</body>
</html>